body{
  text-align: center;
  background-color: black;
}

h1{
  color: green;
}

.dicee{
  background-color: red;
  border-radius: 30px;
  width: 200px;
  height: 200px;
  padding: 20px;
}



.circle{
  background-color: yellow;
  border-radius: 40%;

}

.col{
  display: inline-block;
  margin:0 5%; }
